<h2>Añadir un Nuevo Producto: </h2>
<form id="formId">
    <label for="title">Title</label>
    <input type="text" required name="title">
    <label for="description">Description</label>
    <input type="text" required name="description">
    <label for="category">Category</label>
    <input type="text" required name="category">
    <label for="price">Price</label>
    <input type="number" required name="price">
    <label for="stock">Stock</label>
    <input type="number" required name="stock">
    <label for="code">Code</label>
    <input type="text" required name="code">
    <button type="submit">Enviar</button>
</form>
<button id="btn-viewProducts">Ver Productos</button>
<ul id="products-container">

</ul>